{% extends "arya/layout.html" %}
{% block content %}
<div id="show-nav" class="col-sm-12" style="display: none;">
    <div class="ibox">
        <div class="ibox-title">
            <h5>显示更多</h5>
        </div>
        <div class="ibox-content">
            <div id="nav-table">
                <div class="col-sm-1">
                    <label class="checkbox-inline"><input type="checkbox" id="checkall"> <b>全选</b></label>
                </div>
                <div class="col-sm-11">
                     <label class="checkbox-inline"><input type="checkbox" id="tbrands" > 品牌-系统</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tmachine_type" > 设备类型</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tenv"> 设备环境</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tnetzone"> 网络区域</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tidc"> 机房-机柜</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tonlinedate">上线时间</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tvip"> VIP</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tremark"> 备注</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tmonitor"> 监控状态</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tcreatetime"> 创建时间</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tupdatetime"> 更新时间</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tmodules_use"> 用途</label>
                    <label class="checkbox-inline"><input type="checkbox" id="tmachine_sn"> SN</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="ibox">
        <div class="ibox-title">
            <ol class="breadcrumb">
                <h5><a href="/index_v3/">首页</a><B style="color:#ccc">/</B> 列表页面 </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a onclick="window.location.reload()">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </ol>
        </div>

        <div class="ibox-content">
            <div class="col-sm-12 m-b-xs" style="padding-bottom: 10px;">
                <form method="get">
                    <div class="col-sm-1"> <!--添加-->
                        {% if cl.show_add %}
                            <a class="btn btn-info" href="{{ cl.add_url }}?{{ url_param }}">+ 添加</a>
                        {% endif %}
                    </div>

                    <div class="col-sm-1">
                        <a id="shownv"  type="button" class="btn btn-warning">显示更多</a>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5 ">
                        {% if cl.search_list %} <!--搜索框-->
                        <input type="text" name="q" value="{{ cl.q_value }}" class="form-control"  placeholder="请输入关键字进行搜索或导出" />
                        {% endif %}
                    </div>
                    <div class="col-sm-1">
                        {% if cl.search_list %}
                        <button type="submit" value="搜索" class="btn btn-primary" />
                            <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                        </button>
                        {% endif %}
                    </div>

                    <div class="col-sm-1">
                        <button id="export" type="submit" class="btn btn-success" name="export" value="xlsx"><i class="fa fa-download"></i>&nbsp;&nbsp;导出</button>
                    </div>

                </form>
            </div>
            <form method="post">{% csrf_token %}
                {% if cl.actions %} <!--扩展功能栏-->
                <div class="col-sm-12 m-b-xs">
                    <div class="col-sm-8 m-b-xs"></div>
                    <div class="col-sm-4 m-b-xs">
                        <select class="form-control" style="width: 200px;display: inline-block" name="select_ac">
                            {% for item in cl.action_options %}
                                <option value="{{ item.value }}">{{ item.text }}</option>

                            {% endfor %}
                        </select>
                        <input type="submit" value="执行" class="btn btn-success" />
                    </div>
                </div>

                {% endif %}
                 <table class="table table-striped table-bordered table-hover dataTables-example">
                     <thead>
                        <tr class="top_tr">
                        {% for item in cl.table_header %}
                            <th>{{ item }}</th>
                        {% endfor %}
                        </tr>
                     </thead>
                     <tbody>
                        {% for row in cl.table_body %}
                            <tr>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                     </tbody>
                 </table>
            </form>
             <div class="row">
                <div class="col-md-6 col-md-offset-3" style="text-align: center">
                    <ul class="pagination">
                        {{ cl.page_html|safe }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}